.grid-container {
  display: grid;
  grid-template-areas:
    'user main main main right'
    'aside main main main right'
    'aside main main main right'
    'aside main main main right'
    'aside main main main right'
    'aside main main main right'
    'aside main main main right'
    'aside main main main right'
    'aside player player player right'
    'aside player player player right'
    'aside player player player right';
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
  gap: 1rem;
  height: 100%;
}

.grid-container > * {
  border-radius: 12px;
}

.user-info {
  grid-area: user;
}

.assistant {
  grid-area: aside;
}

.main-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  overflow-y: hidden;
}

.main-content-elements {
  overflow-y: auto;
  flex: 1;
  gap: 2rem;
  padding-right: 1rem;
}

.main-content-elements > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cositas {
  grid-area: right;
}

.player {
  grid-area: player;
  min-height: 5rem;
}

.splideSecondary > .splide__arrows {
  width: 8rem;
  position: absolute;
  top: 110%;
  right: 0;
}

.splide__arrow > svg {
  width: 1.5rem !important;
  fill: #0070f0 !important;
}
