@tailwind base;
@tailwind components;
@tailwind utilities;

#root > div {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #3f3f46;
  border-radius: 13px;
}

::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 13px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0070f0;
}

div[data-focus='false'] {
  display: none;
}
